<section id="about" class="section about">
  <div class="container">
    <div class="left-column">
      <div class="text-section">
        <h2 class="text-reveal">Агроосвітній тур до США</h2>
        <h3 class="fade-slide-up">Сучасні підходи до молочного виробництва</h3>
        <p>
          Запрошуємо вас на захопливий 10–денний освітній тур до США,
          присвячений найсучаснішим підходам у молочному виробництві. Ця подорож
          відкриє перед вами можливість познайомитися з провідними молочними
          фермами, інноваційними технологіями та практиками сталого розвитку,
          які роблять США світовим лідером у цій галузі. Це унікальний шанс
          отримати не лише теоретичні знання, а й практичний досвід, який стане
          у нагоді для оптимізації власного господарства.
        </p>
      </div>
      <div class="details-section">
        <p>
          <strong>Дати поїздки:</strong><br />
          27 вересня - 7 жовтня 2025
        </p>
        <p>
          <strong>Маршрут:</strong><br />
          Київ (Луцьк) – Варшава – Чикаго – США – Чикаго – Варшава – Київ <br />
          (маршрут адаптується до місця проживання учасників).
        </p>
        <p>
          <strong>Трансфер:</strong><br />
          З Києва до аеропорту Варшави та назад вас довезе наш досвідчений водій
          із 15–річним стажем на комфортабельному міні–бусі VIP класу Мерседес
          Sprinter.
        </p>
      </div>
    </div>
    <div class="right-column">
      <div class="image-section">
        <img src="/public/images/about/about.jpeg" alt="Farm Image" />
      </div>
    </div>
  </div>
</section>
