<section id="farms" class="farm-section">
  <div class="farm-container">
    <div class="farm-header">
      <h2>Ключові об'єкти, які ми відвідаємо</h2>
    </div>
    <div class="farm-grid">
      <div class="farm-card">
        <div class="farm-image">
          <picture>
            <source
              srcset="/images/farms/01_Homestead/Homestead2.webp"
              type="image/webp"
            />
            <img
              src="/images/farms/01_Homestead/Homestead2.jpg"
              alt="Managing Insect Resistance"
              class="farm-card-image"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="farm-content">
          <h3 class="farm-card-title">Luck E Holstein</h3>
          <p class="farm-card-description">
            Відома племінна ферма з акцентом на якість і генетику. Зустріч із
            власниками господарства, які поділяться своїм досвідом розведення
            висококласних голштинів з відмінною екстер'єрною оцінкою та світовим
            визнанням. Обговорення тем племінної роботи, участі у виставках,
            менеджменту стада, системи доїння та догляду за телятами. Особлива
            увага приділяється селекції, що базується як на показниках
            продуктивності, так і на фенотипових якостях тварин
          </p>
          <a href="#" class="farm-card-link"
            >Дивитись фото <span class="farm-arrow">→</span></a
          >
        </div>
      </div>

      <div class="farm-card">
        <div class="farm-image">
          <picture>
            <source
              srcset="/images/farms/01_Homestead/Homestead1.webp"
              type="image/webp"
            />
            <img
              src="/images/farms/01_Homestead/Homestead1.jpg"
              alt="Managing Insect Resistance"
              class="farm-card-image"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="farm-content">
          <h3 class="farm-card-title">Homestead Dairy</h3>
          <p class="farm-card-description">
            Сімейна молочна ферма, з понад 75–річною історією. У 2021 році ферма
            була визнана «Інноваційним молочним фермером року» за впровадження
            передових технологій та сталий підхід до ведення господарства.
            Загальна кількість корів на фермі становить близько 4,740 голів. У
            2017 році Homestead Dairy встановила 36 роботизованих доїльних
            установок, кожна з яких обслуговує близько 60 корів. У 2013 році
            ферма встановила метановий біо дайджестер для генерації
            електроенергії, що дозволяє зменшити викиди та створити додаткове
            джерело доходу.
          </p>
          <a href="#" class="farm-card-link"
            >Дивитись фото <span class="farm-arrow">→</span></a
          >
        </div>
      </div>

      <div class="farm-card">
        <div class="farm-image">
          <picture>
            <source
              srcset="/images/farms/03_Larsons /main_Larsons5.webp"
              type="image/webp"
            />
            <img
              src="/images/farms/03_Larsons /main_Larsons5.jpg"
              alt="Managing Insect Resistance"
              class="farm-card-image"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="farm-content">
          <h3 class="farm-card-title">Larson Acres</h3>
          <p class="farm-card-description">
            Ферма була заснована Едом та Йоганною Ларсон у 1920–х роках, а
            сьогодні в її управлінні бере участь вже три покоління родини. Ферма
            утримує 2,800 корів породи Голштин, які дояться тричі на день.
            Larson Acres обробляє понад 5,000 акрів землі. Середня
            продуктивність стада становить 47 л. енергетично скоригованого
            молока на день, з вмістом жиру 4,68% та білка 3,4%. Ферма
            використовує дві доїльні установки: традиційну паралельну систему на
            20 місць та крос–вентильовану паралельну систему на 22 місця.
          </p>
          <a href="#" class="farm-card-link"
            >Дивитись фото <span class="farm-arrow">→</span></a
          >
        </div>
      </div>

      <div class="farm-card">
        <div class="farm-image">
          <picture>
            <source
              srcset="/images/farms/04_Crave/MainCrave Brothers1.webp"
              type="image/webp"
            />
            <img
              src="/images/farms/04_Crave/MainCrave Brothers1.jpg"
              alt="Digital Solutions"
              class="farm-card-image"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="farm-content">
          <h3 class="farm-card-title">Crave Brothers</h3>
          <p class="farm-card-description">
            Crave Brothers поєднують традиційне фермерство з сучасними
            технологіями та практиками сталого розвитку, забезпечуючи високу
            якість продукції та відповідальне ставлення до навколишнього
            середовища. Ферма обробляє 2,000 акрів землі та утримує 2000
            зареєстрованих корів породи Голштин, крім того, вони вирощують ще
            1,000 молодих тварин. Crave Brothers встановили анаеробний дигестер
            для переробки гною. Цей процес не тільки виробляє метан для
            генерації електроенергії, виробляє побічні продукти, які
            використовуються як добрива та підстилка для тварин. Безпосередньо
            на фермі функціонує власна лінія переробки. Більше двох третин
            виробленого молока переробляється на фермі у відзначені нагородами
            сири, такі як свіжий моцарелла, маскарпоне та інші.
          </p>
          <a href="#" class="farm-card-link"
            >Дивитись фото <span class="farm-arrow">→</span></a
          >
        </div>
      </div>

      <div class="farm-card">
        <div class="farm-image">
          <picture>
            <source
              srcset="/images/farms/05_Milksource /main_Milksource3.webp"
              type="image/webp"
            />
            <img
              src="/images/farms/05_Milksource /main_Milksource3.jpg"
              alt="Managing Insect Resistance"
              class="farm-card-image"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="farm-content">
          <h3 class="farm-card-title">Milksource Dairy</h3>
          <p class="farm-card-description">
            Є лідером у впровадженні сучасних технологій у молочному
            виробництві. Milksource Dairy відома своїми інноваціями, такими як
            переробка піску, сепарація гною та підземні трубопроводи для
            поживних речовин. Компанія керує якісними молочними фермами у
            Вісконсині та на Середньому Заході США, виробляючи молоко для сиру,
            масла та інших молочних продуктів. Крім того, Milk Source має ферму
            з вирощування телят у Вісконсині та підприємство з вирощування
            телиць у Канзасі. На їхніх фермах використовуються передові системи
            вентиляції та мікроклімату для забезпечення оптимальних умов
            утримання худоби. Ферма яку ми плануємо відвідати налічує близько
            7000 голів.
          </p>
          <a href="#" class="farm-card-link"
            >Дивитись фото <span class="farm-arrow">→</span></a
          >
        </div>
      </div>

      <div class="farm-card">
        <div class="farm-image">
          <picture>
            <source
              srcset="/images/farms/08_univer/main_univer.webp"
              type="image/webp"
            />
            <img
              src="/images/farms/08_univer/main_univer.jpg"
              alt="Protecting Banana Production"
              class="farm-card-image"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="farm-content">
          <h3 class="farm-card-title">Університет Вісконсин–Медісон</h3>
          <p class="farm-card-description">
            Можливість зустрітися з викладачами або відвідати факультети,
            пов'язані з молочним тваринництвом. Відвідування фермерських станцій
            – університет має навчальні та демонстраційні ферми, де
            застосовуються на практиці дослідження з управління стадом, годівлі
            тварин і покращення умов утримання.
          </p>
          <a href="#" class="farm-card-link"
            >Дивитись фото <span class="farm-arrow">→</span></a
          >
        </div>
      </div>

      <div class="farm-card">
        <div class="farm-image">
          <picture>
            <source
              srcset="/images/farms/07_Miltrim/main_Miltrim1.webp"
              type="image/webp"
            />
            <img
              src="/images/farms/07_Miltrim/main_Miltrim1.jpg"
              alt="Seed Solutions"
              class="farm-card-image"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="farm-content">
          <h3 class="farm-card-title">Miltrim Dairy Farm</h3>
          <p class="farm-card-description">
            Це молочна ферма заснована в 1988 році, ферма почала з 40 корів і з
            часом розрослася до 2,500 корів та 4,800 акрів землі. Ферма утримує
            2,500 корів породи Голштин. Miltrim Farms використовує 18
            роботизованих доїльних установок Lely Astronaut A5 для доїння 1,080
            корів у новому безперешкодному приміщенні. Це найбільша
            автоматизована молочна ферма у штаті Вісконсин. Кожна корова
            виробляє близько 46 літрів молока на день. Ферма обробляє 4,800
            акрів землі, вирощуючи корми для худоби та інші сільськогосподарські
            культури. Miltrim Farms прагне до сталого сільського господарства,
            зменшуючи викиди вуглецю та енергоспоживання, покращуючи здоров'я
            ґрунту та зберігаючи якість води.
          </p>
          <a href="#" class="farm-card-link"
            >Дивитись фото <span class="farm-arrow">→</span></a
          >
        </div>
      </div>

      <div class="farm-card">
        <div class="farm-image">
          <picture>
            <source
              srcset="/images/farms/06_Zavod /main_zavod.webp"
              type="image/webp"
            />
            <img
              src="/images/farms/06_Zavod /main_zavod.jpg"
              alt="Seed Solutions"
              class="farm-card-image"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="farm-content">
          <h3 class="farm-card-title">Mullins Cheese & Whey</h3>
          <p class="farm-card-description">
            Це один із найсучасніших заводів США з повним циклом виробництва
            сиру та переробки сироватки, розташований у штаті Вісконсин.
            Підприємство виробляє Cheddar, Colby Jack, Monterey Jack, а також
            ізоляти сироваткового білка (WPI), концентрати білка, лактозу та
            суху сироватку. Завод використовує високотехнологічні мембранні
            системи (ультра- та мікрофільтрація), що забезпечують максимальну
            чистоту та розчинність білків. Потужності дозволяють щодня
            переробляти до 8 мільйонів фунтів молока, з річним випуском понад
            300 млн фунтів сиру. Виробництво сертифіковане за стандартами HACCP,
            Kosher, Halal і відповідає принципам сталого розвитку.
          </p>
          <a href="#" class="farm-card-link"
            >Дивитись фото <span class="farm-arrow">→</span></a
          >
        </div>
      </div>

      <div class="farm-card">
        <div class="farm-image">
          <picture>
            <source
              srcset="/images/farms/02_Northside /main_Northside_elevator2.webp"
              type="image/webp"
            />
            <img
              src="/images/farms/02_Northside /main_Northside_elevator2.jpg"
              alt="Seed Solutions"
              class="farm-card-image"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="farm-content">
          <h3 class="farm-card-title">
            Комбікормовий завод Northside Elevator
          </h3>
          <p class="farm-card-description">
            Це провідний постачальник кормів і послуг у штаті Вісконсин, який
            активно підтримує молочні ферми та інші сільськогосподарські
            підприємства. Компанія спеціалізується на розробці збалансованих
            раціонів для великої рогатої худоби, враховуючи індивідуальні
            потреби кожного господарства.
          </p>
          <a href="#" class="farm-card-link"
            >Дивитись фото <span class="farm-arrow">→</span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
