<section class="features-section">
  <div class="container">
    <div class="features-grid">
      <div class="feature-card">
        <div class="feature-image">
          <img
            src="./IMAGES/image2.jpeg"
            alt="Managing Insect Resistance"
            class="card-image"
          />
        </div>
        <div class="feature-content">
          <h3 class="card-title">Тут буде текст прошось цікавеве 1</h3>
          <p class="card-description">
            Тут опис цікавинок із коротким анонсом пропонованої інформації
          </p>
          <a href="#" class="card-link"
            >Watch video <span class="arrow">→</span></a
          >
        </div>
      </div>

      <div class="feature-card">
        <div class="feature-image">
          <img
            src="/IMAGES/woman-summer-field-brunette-brown-sweater.jpg"
            alt="Protecting Banana Production"
            class="card-image"
          />
        </div>
        <div class="feature-content">
          <h3 class="card-title">Тут буде текст прошось цікавеве 2</h3>
          <p class="card-description">
            Тут опис цікавинок із коротким анонсом пропонованої інформації
          </p>
          <a href="#" class="card-link"
            >Watch video <span class="arrow">→</span></a
          >
        </div>
      </div>

      <div class="feature-card">
        <div class="feature-image">
          <img
            src="/IMAGES/image1.jpg"
            alt="Seed Solutions"
            class="card-image"
          />
        </div>
        <div class="feature-content">
          <h3 class="card-title">Тут буде текст прошось цікавеве 3</h3>
          <p class="card-description">
            Тут опис цікавинок із коротким анонсом пропонованої інформації
          </p>
          <a href="#" class="card-link"
            >Watch video <span class="arrow">→</span></a
          >
        </div>
      </div>

      <div class="feature-card">
        <div class="feature-image">
          <img
            src="./IMAGES/image3.jpeg"
            alt="Digital Solutions"
            class="card-image"
          />
        </div>
        <div class="feature-content">
          <h3 class="card-title">Тут буде текст прошось цікавеве 4</h3>
          <p class="card-description">
            Тут опис цікавинок із коротким анонсом пропонованої інформації
          </p>
          <a href="#" class="card-link"
            >Watch video <span class="arrow">→</span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
