<footer>
  <div class="footer-container">
    <!-- Ліворуч: логотип -->
    <div class="footer-column footer-logo">
      <div class="footer-circle"></div>
      <a href="/" aria-label="На головну сторінку">
        <svg width="180" height="58">
          <use href="/images/icons.svg#icon-Logo_Agro"></use>
        </svg>
      </a>
    </div>

    <!-- Центр: навігаційне меню -->
    <div class="footer-column footer-menu">
      <ul>
        <li>
          <a class="nav-item" href="#about">про поїздку</a>
        </li>
        <li>
          <a class="nav-item" href="#schedule">розклад</a>
        </li>
        <li>
          <a class="nav-item" href="#pricing">ціна</a>
        </li>
      </ul>
    </div>

    <!-- Праворуч: контакти -->
    <div class="footer-column footer-contacts">
      <p>olena@traveliteAGRO.com</p>
      <p>+38 050 971 05 01</p>
    </div>
  </div>
</footer>
