<footer>
  <div class="footer-container">
    <!-- Ліворуч: логотип -->
    <div class="footer-column footer-logo">
      <svg width="180" height="58">
        <use href="/images/icon-foo.svg#icon-Logo_Agro_foo"></use>
      </svg>
    </div>

    <!-- Центр: навігаційне меню -->
    <div class="footer-column footer-menu">
      <ul>
        <li><a href="#about">Про програму</a></li>
        <li><a href="#schedule">Розклад</a></li>
        <li><a href="#prices">Ціна</a></li>
      </ul>
    </div>

    <!-- Праворуч: контакти -->
    <div class="footer-column footer-contacts">
      <p>
        dmytro@traveliteAGRO.com<br />
        olena@traveliteAGRO.com
      </p>
      <p>
        +38 044 228 50 52<br />
        +38 050 971 05 01
      </p>
    </div>
  </div>
</footer>
