<section class="section geo">
  <div class="container geo">
    <div class="geo-text-section">
      <h2>Географія поїздки</h2>
      <h3>Штати Індіана, Вісконсин, Іллінойс</h3>
    </div>

    <div class="geo-content">
      <div class="geo-text-column">
        <p class="geo-text">
          Більшість ферм по маршруту розташовані у штаті Вісконсин, який
          заслужено носить звання «Молочної столиці Америки», що робить його
          ідеальним місцем для вивчення передового досвіду у виробництві молока.
          Завдяки багаторічним традиціям молочного тваринництва, тут зосереджені
          одні з найбільших і найінноваційніших молочних ферм країни.
        </p>
      </div>
      <div class="geo-text-column">
        <p class="geo-text">
          Вісконсин також славиться своїми дослідницькими установами, такими як
          Університет Вісконсин–Медісон, який відіграє ключову роль у
          впровадженні новітніх технологій у годівлі, управлінні стадом і
          поліпшенні якості молока. Окрім цього, штат є лідером у виробництві
          молочних продуктів, таких як сир, що дозволяє побачити весь цикл – від
          ферми до готового продукту. Відвідування Вісконсину – це унікальна
          можливість для фермерів і професіоналів галузі перейняти найкращі
          практики та розширити свої знання.
        </p>
      </div>
    </div>

    <img
      src="/public/images/geo/map.jpg"
      alt="Карта США з маршрутом поїздки"
      class="geo-map"
    />
  </div>
</section>
