<header class="header">
  <div class="header__main">
    <div class="container">
      <div class="header__logo">
        <svg width="180" height="58">
          <use href="/images/icons.svg#icon-Logo_Agro"></use>
        </svg>
      </div>
      <nav class="header__nav">
        <ul>
          <li><a class="nav-item" href="#solutions">рішення</a></li>
          <li><a class="nav-item" href="#products">продукти</a></li>
          <li>
            <a class="nav-item" href="#sustainability">сталий розвиток</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
