<section class="hero">
  <div class="hero-background current"></div>
  <div class="hero-background next"></div>
  <div class="container">
    <div class="hero__container">
      <div class="hero__slides">
        <!-- Слайд 1 -->
        <div class="hero__slide active">
          <div class="hero__content">
            <h1 class="hero-title">
              Дізнайтесь, як майбутнє молочної індустрії виглядає сьогодні
            </h1>
            <p>
              Запрошуємо в 10-денну освітню подорож до США - у саме серце
              інноваційного тваринництва
            </p>
            <a href="#about" class="button hero-button">Дізнатися більше</a>
          </div>
        </div>
        <!-- Слайд 2 -->
        <div class="hero__slide">
          <div class="hero__content">
            <h1 class="hero-title">Відкриття, які варті кожного кілометра</h1>
            <p>
              Інновації, які ви побачите, вже сьогодні змінюють молочну галузь,
              забезпечуючи високу продуктивність, ефективність і турботу про
              довкілля
            </p>
            <a href="#geo" class="button hero-button">Дізнатися більше</a>
          </div>
        </div>
        <!-- Слайд 3 -->
        <div class="hero__slide">
          <div class="hero__content">
            <h1 class="hero-title">
              Ферми на 10 000 корів - реальність, яку ви побачите
            </h1>
            <p>
              Milksource, Miltrim Farm, Homestead Dairy, Larson Acres - та інші
              лідери молочної галузі Середнього Заходу США.
            </p>
            <a href="#farms" class="button hero-button">Програма туру</a>
          </div>
        </div>
        <!-- Слайд 4 -->
        <div class="hero__slide">
          <div class="hero__content">
            <h1 class="hero-title">
              Ціна, яка включає все. Враження - безцінні
            </h1>
            <p>
              $6500 - переліт, проживання, трансфери, страхування, зустрічі,
              перекладач
            </p>
            <a href="#pricing" class="button hero-button">Детальніше</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero__solutions c-hro3__button-row">
    <div class="container">
      <div class="button-group button-group--cells flex">
        <button
          class="button hero-nav-button"
          data-slide="0"
          data-analytics-type="hero-nav"
          data-analytics-value="Досвід агроекспертів"
        >
          <span class="number-circle">1</span>
          <span class="button-text">Майбутнє</span>
        </button>
        <button
          class="button hero-nav-button"
          data-slide="1"
          data-analytics-type="hero-nav"
          data-analytics-value="Сучасні технології"
        >
          <span class="number-circle">2</span>
          <span class="button-text">Технології</span>
        </button>
        <button
          class="button hero-nav-button"
          data-slide="2"
          data-analytics-type="hero-nav"
          data-analytics-value="Сталий розвиток"
        >
          <span class="number-circle">3</span>
          <span class="button-text">Ферми</span>
        </button>
        <button
          class="button hero-nav-button"
          data-slide="3"
          data-analytics-type="hero-nav"
          data-analytics-value="Експорт продукції"
        >
          <span class="number-circle">4</span>
          <span class="button-text">Вартість</span>
        </button>
        <div class="indicator"></div>
      </div>
    </div>
  </div>
</section>
