<!-- Mobile Menu Overlay -->
<div class="mobile-menu-overlay">
  <div class="mobile-menu">
    <div class="mobile-menu__header">
      <div class="header__logo">
        <svg width="140" height="45">
          <use href="/images/icons.svg#icon-Logo_Agro"></use>
        </svg>
      </div>
      <button class="mobile-menu-close" aria-label="Закрити меню">
        <span class="close-icon"></span>
      </button>
    </div>
    <nav class="mobile-menu__nav">
      <ul>
        <li><a class="mobile-nav-item" href="#solutions">рішення</a></li>
        <li><a class="mobile-nav-item" href="#products">продукти</a></li>
        <li>
          <a class="mobile-nav-item" href="#sustainability">сталий розвиток</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
