<section id="pricing" class="price-section">
  <div class="container">
    <h2 class="price-title fade-slide-up">Вартість поїздки</h2>
    <p class="price-paragraph">
      Вартість поїздки на одну особу складає
      <strong class="price-strong">6500 доларів США</strong>.
    </p>

    <div class="price-content">
      <div class="price-included">
        <h3 class="price-subtitle fade-slide-up">У вартість входить</h3>
        <ul class="price-list">
          <li class="price-item">
            Оформлення американської візи (туристична віза B1/B2);
          </li>
          <li class="price-item">
            Наземна логістика на комфортабельному Мерседес Спринтер по маршруту
            Київ – Варшава;
          </li>
          <li class="price-item">
            Всі трансфери на комфортабельному Мерседес Спринтер по США;
          </li>
          <li class="price-item">Міжнародні авіаперельоти економ класом;</li>
          <li class="price-item">
            Готель 4–5* на весь термін перебування в подорожі (проживання
            по–двоє в номері). У частині готелів включені сніданки;
          </li>
          <li class="price-item">
            Робота американських координаторів по організації зустрічей;
          </li>
          <li class="price-item">
            Супровід і послуги перекладача–координатора протягом усієї подорожі;
          </li>
          <li class="price-item">Медична страховка від компанії ТАС;</li>
          <li class="price-item">Платні зустрічі та семінари.</li>
        </ul>
      </div>

      <div class="price-not-included">
        <h3 class="price-subtitle fade-slide-up">У вартість НЕ входить</h3>
        <ul class="price-list">
          <li class="price-item">Харчування;</li>
          <li class="price-item">Чайові;</li>
          <li class="price-item">Особисті витрати.</li>
        </ul>

        <h3 class="price-subtitle-coordinator fade-slide-up">
          Координатор туру, супровід та переклад:
        </h3>
        <div class="coordinator-info">
          <p class="coordinator-name">Олена Бушмакіна</p>
          <p class="coordinator-company">WRRU | Travelite AGRO</p>
          <p class="coordinator-contact">моб UA: +38 050 971 05 01</p>
          <p class="coordinator-contact">email: olena@traveliteAGRO.com</p>
          <p class="coordinator-address">
            адреса: Україна, 08136 Київська область,<br />с.Крюківщина
            вул.Бакинська 1., оф. 244/1
          </p>
          <p class="coordinator-site">site: traveliteAGRO.com | wrru.org</p>
        </div>
      </div>
    </div>
  </div>
</section>
