<section class="section promo">
  <div class="container">
    <div class="promo-container">
      <div class="promo-column promo-left">
        <div class="promo-text">
          <h2 class="text-reveal">
            Інновації та екологія: ферми нового покоління
          </h2>
          <p>
            Програма туру охоплює відвідування молочних ферм із поголів'ям від
            1,000 до 10,000 корів, які впроваджують передові рішення в утриманні
            худоби. Ви побачите використання піщаних підстилок для максимального
            комфорту тварин, роботизовані доїльні установки, що знижують стрес
            корів і підвищують надої, та біогазові установки, які перетворюють
            гній на електроенергію, забезпечуючи енергетичну незалежність ферм.
            Такі рішення не лише підвищують продуктивність, а й мінімізують
            вплив на навколишнє середовище.
          </p>
        </div>
        <div class="promo-image promo-image-desktop">
          <img
            src="/public/images/promo/promo_1.jpg"
            alt="Сучасна молочна ферма"
          />
        </div>
      </div>

      <div class="promo-column promo-right">
        <div class="promo-image">
          <img
            src="/public/images/promo/promo_2.jpg"
            alt="Експерти та технології"
          />
        </div>
        <div class="promo-text">
          <h2 class="fade-slide-up">Ексклюзивні зустрічі з експертами</h2>
          <p>
            На кожній фермі вас зустрінуть менеджери, які детально розкажуть про
            всі аспекти догляду за стадом, від раціонів і ветеринарних практик
            до систем доїння. Ви дізнаєтеся про технології вирощування телят та
            молодняка на окремих фермах, сучасні методи культивації кукурудзи на
            силос і виробництво комбікормів. А візит до університету штату
            Вісконсин надасть змогу обговорити новітні наукові розробки з
            викладачами й фахівцями дорадчих служб. Цей тур стане ідеальною
            платформою для пошуку ідей, які ви зможете адаптувати до власного
            господарства. Інновації, які ви побачите, вже сьогодні змінюють
            молочну галузь, забезпечуючи високу продуктивність, ефективність і
            турботу про довкілля.
          </p>
          <div class="promo-cta">
            <p>
              <strong>Не пропустіть можливість приєднатися до подорожі!</strong>
            </p>
            <a href="tel:+380509710501" class="promo-button">Зателефонувати</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
